body{
    padding-top: 50px;
    background-color: azure;
}

.index-back{
    width: 100vw;
    height: 94.5vh;
    overflow: hidden;
    overscroll-behavior: none;
}

.index-back img{
    width: 100%;
    object-fit: cover;
    object-position: center 0;
}

.choko-img{
    width: 40vw;
}